In [8]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
df = pd.read_csv('../Data/UserBehavior.csv', header=None, parse_dates=True)

In [6]:
df.columns = ['User_Id', 'Item_Id', 'Category_Id', 'Behavior', 'Time']

In [9]:
# 清洗超出時間範圍的數據
print('Filtering data...')
df['Time'] = pd.to_datetime(df['Time'], unit="s")
mask_1 = df['Time'] >= datetime(2017,11,25)
mask_2 = df['Time'] <= datetime(2017,12,3)
df = df[mask_1 & mask_2]
print('Filtering data Finished!')

Filtering data...
Filtering data Finished!

In [10]:
df.reset_index()

   User_Id  Item_Id  Category_Id Behavior                Time
2        1  2576651       149192       pv 2017-11-25 01:21:25
3        1  3830808      4181361       pv 2017-11-25 07:04:53
4        1  4365585      2520377       pv 2017-11-25 07:49:06
5        1  4606018      2735466       pv 2017-11-25 13:28:01
6        1   230380       411153       pv 2017-11-25 21:22:22

In [12]:
df.to_csv('New_User.csv', index=False)