In [7]:
import scipy as sp
import statsmodels.api as sm
import numpy as np
import seaborn as sns
from IPython.display import display
import matplotlib.pyplot as plt

In [3]:
print(sm.datasets.fair.SOURCE,
      sm.datasets.fair.NOTE)

Fair, Ray. 1978. "A Theory of Extramarital Affairs," `Journal of Political
Economy`, February, 45-61.

The data is available at http://fairmodel.econ.yale.edu/rayfair/pdf/2011b.htm
 ::

    Number of observations: 6366
    Number of variables: 9
    Variable name definitions:

        rate_marriage   : How rate marriage, 1 = very poor, 2 = poor, 3 = fair,
                        4 = good, 5 = very good
        age             : Age
        yrs_married     : No. years married. Interval approximations. See
                        original paper for detailed explanation.
        children        : No. children
        religious       : How relgious, 1 = not, 2 = mildly, 3 = fairly,
                        4 = strongly
        educ            : Level of education, 9 = grade school, 12 = high
                        school, 14 = some college, 16 = college graduate,
                        17 = some graduate school, 20 = advanced degree
        occupation      : 1 = student, 2 = farming, agriculture; semi-skilled,
                        or unskilled worker; 3 = white-colloar; 4 = teacher
                        counselor social worker, nurse; artist, writers;
                        technician, skilled worker, 5 = managerial,
                        administrative, business, 6 = professional with
                        advanced degree
        occupation_husb : Husband's occupation. Same as occupation.
        affairs         : measure of time spent in extramarital affairs

    See the original paper for more details.

In [4]:
df = sm.datasets.fair.load_pandas().data

In [6]:
df.assign(poor_marriage_yn=(df.rate_marriage <= 2))

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs,poor_marriage_yn
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111,False
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769,False
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000,False
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273,False
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666,False
...,...,...,...,...,...,...,...,...,...,...
6361,5.0,32.0,13.0,2.0,3.0,17.0,4.0,3.0,0.000000,False
6362,4.0,32.0,13.0,1.0,1.0,16.0,5.0,5.0,0.000000,False
6363,5.0,22.0,2.5,0.0,2.0,14.0,3.0,1.0,0.000000,False
6364,5.0,32.0,6.0,1.0,3.0,14.0,3.0,4.0,0.000000,False
6365,4.0,22.0,2.5,0.0,2.0,16.0,2.0,4.0,0.000000,False

In [8]:
N = 10
a = np.random.randn(N) + 2
b = np.random.randn(N)

In [11]:
var_a = a.var(ddof=1)
var_b = b.var(ddof=1)

In [12]:
s = np.sqrt((var_a + var_b)/2)
s

0.8934130238168173

In [13]:
t = (a.mean() - b.mean())/(s*np.sqrt(2/N))

In [14]:
df = 2*N - 2

In [16]:
p = 1 - sp.stats.t.cdf(t,df=df)

In [17]:
print("t = " + str(t))
print("p = " + str(2*p))

t = 3.580904364721896
p = 0.002136020088716828

In [19]:
## Cross Checking with the internal scipy function
t2, p2 = sp.stats.ttest_ind(a,b)
print("t = " + str(t2))
print("p = " + str(p2))

t = 3.580904364721896
p = 0.0021360200887166956